/* Layout.scss */

@media screen and (min-width: $mobile) and (max-width: $desktop) {
    
    .row-no-gutter.gallery [class^="col-"] {
        margin-left: 0;
        margin-right: 0;
    }
    
    .gallery .col-3 {
        width: 50%; 
        margin-bottom: 0;
    }
}